nav{
  background-image: linear-gradient(120deg, cyan, yellow, purple);
}

nav a{
  text-decoration: none;
}
footer{
  text-align: center;
  background-color: lightslategrey;
  padding: 30px;
}
#footnav{
  background-color: cornflowerblue;
  padding: 70px 50px;
  color: white;
  font-size: 20px;

  background-image: url('https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


#footnav h1{
  text-align: center;
}


/* pages */
/* about page */
#aboutpage_data p{
  padding: 10px;
  text-align: justify;
}

#aboutpage_data img{
  max-width: 100%;
}

.mycardstyle img{
  min-height: 410px !important;
}